<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="wishlist_item_collection_products_after_load">
        <observer name="add_media_gallery_to_product_collection" instance="MageSuite\ProductTile\Observer\AddMediaGalleryToProductWishlist" />
    </event>
</config>
